// Place all the styles related to the Api/Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'font_sizes';

.event-index-container h2 {
  margin: 10px;
  display: block;
}

.event-index {
  padding: 0 20px;
  margin: 20px;
  overflow-y: scroll;
  max-height:80vh;
  background-color: $form-background-color;
}

.event-index-item {
  flex-direction: column;
  margin: 20px auto;
  align-self: center;
  background-color: white;
}

.event-index-item:hover {
  -webkit-box-shadow: 0px 0px 20px 5px rgba(128, 128, 128, 0.37);
  -moz-box-shadow: 0px 0px 20px 5px rgba(128, 128, 128, 0.37);
  box-shadow: 0px 0px 20px 5px rgba(128, 128, 128, 0.37);
}

.event-index-header {
  border: 1px solid $border-color;
  cursor: pointer;
}

.events-index-image {
  width:20%;
  min-width: 200px;
  background-size: cover;
  background-position: center;
  border-right: 1px solid $border-color;
  cursor: pointer;
}

.event-index-item li {
  display: flex;
  flex-direction: row;
}

.event-main-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-left: 1px solid $border-color;
}

.event-main-details li {
  flex-grow: 1;
  padding: 10px;
}

.event-index-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  border-left: 1px solid $border-color;
}

.tickets-number {
  font-size: 1.2em;
  padding-bottom: 20px;
  margin-bottom: 5px;
}

.tickets-label, .event-status-text {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 5px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.hosted-live {
  color: $live-green;
}

.hosted-draft {
  color: $draft-red;
}

.event-index-footer {
  display: flex;
  flex-direction: row;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.event-index-footer li {
  padding: 5px;
  border-left: 1px solid $border-color;
}

.event-index-footer:last-child {
  border-right: 1px solid $border-color;
}

.event-index-price {
  width:20%;
  min-width: 200px;
  cursor: pointer;
  justify-content: center;
  letter-spacing: 1px;
}

.event-index-category {
  flex-grow: 1;
  text-transform: capitalize;
}

.event-index-bookmark {
  align-items: center;
  align-text: center;
  width: 40px;
  display: flex;
  justify-content: center;
  border-top: 0px solid transparent;
  transition: all 0.1s, ease;
  cursor: pointer;
  height: 30px;
}

.event-index-bookmark:hover i {
  color: $nav-hover;
}

.event-index-bookmark:hover {
  border-top: 4px solid $nav-hover;
}

.bookmarked {
  color: #e0ad2d
}
