@import '../colors';
@import '../font_sizes';

.event-show-container {
  position: relative;
}

.show-header {
  display: flex !important;
  flex-direction: column !important;
  align-content: center !important;
  justify-content: center !important;
  position: relative !important;
  margin-top: 3px !important;
  background-size: cover !important;
  background-position: center !important;
  height: 350px !important;
  font-family: sans-serif !important;
  font-style: $default-font !important;
}

.show-header-text {
  display: flex !important;
  flex-direction: column !important;
  position: absolute !important;
  left: 15% !important;
  background-color: $event-header-text-background !important;
  width: 80% !important;
  padding: 20px !important;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(41, 41, 41, 0.55) !important;
  -moz-box-shadow: 0px 0px 20px 0px rgba(41, 41, 41, 0.55) !important;
  box-shadow: 0px 0px 76px 0px rgba(41, 41, 41, 1) !important;
  border-radius: 50px !important;
}

.show-event-title, .show-header-text h2 {
  font-family: sans-serif !important;
  font-style: $default-font !important;
  color: white !important;
  padding: 5px !important;
}

.show-event-title {
  font-variant: small-caps !important;
  font-size: 2.5em !important;
}

.show-header-text h2 {
  letter-spacing: 2px;
}

.show-header-footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -20px;
  background-color: white;
  border: 1px solid $border-color;
  font-variant: small-caps;
  letter-spacing: 1px;
}

.show-header-footer a, .show-header-button {
  height: 55px;
  display: block;
  padding: 15px 10px;
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
  border-top: 0px solid transparent;
  transition: all 0.2s, ease;
  text-decoration: none;
  border-right: 1px solid $border-color;
  cursor: pointer;
}

.show-header-button {
  height: 55px !important;
}

.show-header-footer a:hover, .show-header-button:hover {
  border-top: 5px solid $nav-hover;
  color: $nav-hover;
}

.event-show-body {
  display: flex;
  width: 80%;
  margin: 40px auto;
}

.event-details-container {
  display: flex;
  background-color: white;
  padding: 25px;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.event-details-container h4 {
  padding: 5px 0;
  margin: 10px 0;
  text-transform: uppercase;
  border-bottom: 1px solid $form-border-color;
}

.event-details-section {
  padding-bottom: 10px;
}

.event-details-section p {
  padding-bottom: 3px;
}

.event-order-container {
  width: 100%;
  border: 1px solid red;
  height: 400px;
}

.draft-watermark {
  color: $draft-red;
  position: absolute;
  bottom: -20%;
  right: 10%;
  font-size: 15em;
  text-transform: uppercase;
  opacity: 0.4;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  pointer-events: none;
}

.buy-button {
  background-color: $live-green;
  color: white;
  max-width: 450px;
}

.buy-button:hover {
  background-color: $green-hover !important;
  color: white !important;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid $border-color !important;
}

.show-map-container {
  height: 35vh;
  width: 100%;
}

.show-map {
  height: 35vh;
}
