@import "colors";
@import "font_sizes";

.event-form-container {
  width: 80%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  margin: 0 auto;
  background-color: $form-background-color;
}

.event-form-title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.event-form-container h2 {
  display: block;
  padding: 25px 0 10px 0;
  border-bottom: 1px solid $form-border-color;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.event-form-fields {
  display: flex;
  flex-direction: column;
}

.event-form-fields label {
  display: block;
  padding: 5px 0;
}

.event-form-input {
  width: 100%;
  font-size: $form-font-size;
}

.event-form-input-title {
  width: 100%;
  font-size: 35px;
  font-variant-caps: small-caps;
  padding: 7px 3px;
}

.event-form-container h3,
.event-form-container h5 {
  padding: 5px;
}

.event-category-selector {
  text-transform: capitalize;
  font-size: 100%;
  padding: 40px;
  margin: 7px 0;
  height: 50px;
  background: white;
  border-radius: 0px !important;
}

.times-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.times-container label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.times-container input, .tickets-input {
  width: 150px;
  justify-content: center;
  font-family: 'Questrial', sans-serif;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.tickets-input {
  width: 80px;
}

.event-time-display {
  text-align: center;
  font-style: bolder;
  padding: 20px;
  border: 1px solid $form-border-color;
  margin: 10px 0 20px 0;
  background: white;
}

.event-time-display span {
  color: rgb(231, 76, 60);
  letter-spacing: 0.5px;
}

.calendar-container {
  align-items: center;
  justify-content: space-between;
}

.rdr-DateRange {
  align-items: center;
  text-align: center;
  display:flex;
  justify-content: space-between;
}

div.rdr-Calendar {
  width: 350px;
  margin: 5px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.rdr-Calendar span {
  font-size: 24px;
}

span.rdr-Day {
  font-size: 20px;
  background: lightgray;
}

.launch-button {
  font-size: 1.5em;
  padding: 15px;
  width: 45%;
  background-color: $green-button;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid;
  height: 100px;
}

.hide-event {
  background-color: #ff4d4d;
  padding:5px !important;
  height: 75px;
}

.button-container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container:not(:last-child) {
  margin-right: 10px;
}

.event-status {
  width: 300px;
  text-align: center;
  padding: 15px 30px;
  margin: 20px 0;
  text-transform: uppercase;
  border: 1px solid $form-border-color;
  background: white;
  font-size: 150%;
  letter-spacing: 1.5px;
  border-radius: 2px;
}

.live-event {
  color: $green-button;
}

.draft-event {
  color: #eb0000;
}

.event-form-input select {
  text-transform: capitalize;
  font-size: $form-font-size
}

.event-form-input input[type=text] {
  padding: 7px 4px;
}

.middle-length {
  max-width : 500px;
}

.state-input {
  max-width: 50px;
}

.city-input {
  max-width: 300px;
}

.event-image-box-active {
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  min-width: 65vw;
  min-height: 40vh
}

.event-image-box-default {
  position: relative;
  height: 300px;
  width: 300px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-image-default-inner {
  height: 150px;
  width: 150px;
  border: 2px dashed black;
  position: static;
}

.image-upload-container {
  display: flex;
}

.no-image {
  position: absolute;
  display: flex;
  height: 300px;
  width: 300px;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.image-uploaded {
  background: white;
  width: 200px !important;
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.form-map-container {
  max-width: 500px;
  margin-bottom: 20px;
}

.location-results {
  padding: 10px 0 5px 0;
  color: $font-accent;
}

.event-form-display-location {
  padding: 5px;
}
