
@import "colors";
@import "font_sizes";

.search-page {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4vw;

}

.search-main-container {
  display: flex;
}

.search-page h2 {
  width: 100%;
  color: $font-accent;
  padding-top: 15px;
  letter-spacing: 0.5px;
  font-variant: small-caps;
}

.search-sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 200px;
}

.map-search-container {
  border: 1px solid $border-color;
  margin-top: 20px;
}

.category-filter-container {
  padding: 20px 0;
}

.category-filter-container h4 {
  padding-bottom: 3px;
}

.category-filter-item {
  padding: 5px 0;
  color: $unselected-text;
  text-transform: capitalize;
}

.category-filter-item:hover {
  color: $nav-hover;
  cursor: pointer;
}

.active-filter {
  color: $font-color;
  font-weight: bold;
}

.search-reset {
  color: $font-accent;
  font-style: italic;
  cursor: pointer;
  font-variant: small-caps;
}

.map {
  height: 30vh;
}


.map img {
  max-width: none;
}

#map img {
  max-width:none
}

.gmnoprint img { max-width: none !important; }
