// Place all the styles related to the Api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.session-form-container {
  width: 50%;
  max-width: 280px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 2px;
  justify-content: center;
  margin: 20px auto;
  background-color: white;
}

.session-form-fields label {
  display: block;
  padding: 5px 0;
}

.session-form {
  position: relative;
}

.session-form-input {
  display: block;
  padding:5px;
  width: 100%;
  border-radius: 1px;
  border: 1px solid gray;
}

.alt-session-action {
  display: inline-block;
  padding: 10px;
}

.alt-session-action a:hover {
  color: $font-accent;
}

.submit-button {
  cursor: pointer;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: #0077ea;
  color: white;
  margin: 10px 0 10px 0;
  width: 60%;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s ease;
}

.submit-button:hover {
  background-color: #006ad1;
  padding: 12px 20px;
  margin: 8px 0;
}

.guest-login {
  background-color: $live-green;
  padding: 10px 20px;
  margin: 10px 0 10px 0;
  width: 100%;
  cursor: pointer;
  color: white;
  text-align: center;
  text-transform: uppercase;;
  letter-spacing: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease;
}

.guest-login:hover {
  padding: 12px 20px;
  margin: 8px 0;
}
