$form-background-color: #ededed;
$footer-background-color: #282c35;

$border-color: #ededed;
$form-border-color: black;

$font-color: #5e6b78;

$green-button: #00a700;
$blue-button: #3bbeff;

$nav-hover: #e60000;
$unselected-text: #bcc3cb;

$live-green: #00a700;
$draft-red: #eb0000;

$drop-shadow-color: #808080
