$form-background-color: #ededed;
$footer-background-color: #282c35;

$border-color: #ededed;
$form-border-color: black;

$font-color: #5e6b78;
$font-accent: #e60000;

$green-button: #00a700;
$blue-button: #3bbeff;

$nav-hover: #e60000;
$unselected-text: #bcc3cb;

$live-green: #00cc52;
$green-hover: #008033;
$draft-red: #eb0000;

$drop-shadow-color: #808080;

$event-header-text-background: rgba(41,41,41,0.50);
