/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'colors';
@import 'font_sizes';
@import 'button_sizes';


/* RESET */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, font, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 .logout-button, button {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	outline: 0;
 	font-weight: inherit;
 	font-style: inherit;
  color: #5e6b78;
 	font-size: 100%;
 	font-family: 'Jaldi', sans-serif;
 	vertical-align: baseline;
  text-decoration: none;
 }
 /* remember to define focus styles! */
 :focus {
 	outline: 0;
 }

 body {
 	line-height: 1;
 	color: black;
 	background: white;
 }
 ol, ul {
 	list-style: none;
 }
 /* tables still need 'cellspacing="0"' in the markup */
 table {
 	border-collapse: separate;
 	border-spacing: 0;
 }
 caption, th, td {
 	text-align: left;
 	font-weight: normal;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: "";
 }
 blockquote, q {
 	quotes: "" "";
 }
 .cf:after {
 	content: "";
 	display: block;
 	clear: both;
 }
 * {
 	box-sizing: border-box;
 }

 button {
   cursor: pointer;
 }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 /* END OF RESET */

 h1, .nav-logo a {
   font-size: 1.6em;
   font-style: $default-font;
   font-family :sans-serif;
   text-decoration: none;
   color: $font-accent;
   font-weight: bold;
   font-variant: small-caps;
 }

 h2 {
   font-size: 1.4em;
 }

 h3 {
   font-size: 1.3em;
 }

 h4 {
   font-size: 1.2em;
 }

 h5 {
   font-size: 1.1em;
 }

.user-nav {
  display: flex;
  align-content: center;
  float: right;
}

.user-links {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.user-nav a, {
  display: flex;
  align-items: center;
  float: right;
  height: $nav-height;
  padding: 20px 20px;
  border-left: 1px solid $border-color;
  border-top: 0px solid transparent;
  transition: all 0.2s, ease;
  text-decoration: none;
}

.user-nav a:hover, .nav-browse a:hover {
  border-top: 5px solid $nav-hover;
  color: $nav-hover;
}

.nav {
  display:flex;
  align-content: center;
  justify-content: space-between;
  border: 1px solid $border-color;
  height: $nav-height;
}

.nav-logo {
  border-right: 1px solid $border-color;
  justify-content: center;
  letter-spacing: 1px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-image: url('SociaLights.png');
}

.nav-logo a {
  display: flex;
  font-variant: small-caps;
  height: $nav-logo-height;
  border-top: 0px solid transparent;
  text-decoration: none;
  justify-content: center;
  align-content: center;
  padding: 10px 10px;
  width: 20%;
  min-width: 200px;
  transition: all 0.2s, ease;
  box-sizing: border-box;
}

.nav-logo a:hover {
  border-top: 5px solid $nav-hover;
}

.nav-browse {
  flex-grow: 1;
  text-align: center;
  letter-spacing: 1px;
  justify-content: center;
}

.nav-browse a, {
  display: flex;
  height: $nav-height;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 20px 20px;
  border-top: 0px solid transparent;
  transition: all 0.2s, ease;
  text-align: center;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logout-button {
  display: flex;
  background: inherit;
  text-transform: uppercase;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
  transition: all 0.2s ease;
  display: flex;
  float: right;
  height: $nav-height;
  padding: 20px 20px;
  border-left: 1px solid $border-color;
  border-top: 0px solid transparent;
  transition: all 0.2s, ease;
  text-decoration: none;
}

.logout-button:hover {
  border-top: 5px solid $nav-hover;
  color: $nav-hover;
}

.hidden-form {
  height: 0px;
  overflow: hidden;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.transition-form {
  transition: height 8.0s, font-size 8.0s, ease;
  -webkit-transition: height 8.0s, font-size 8.0s, ease;
}

.app-footer {
  border-top: 4px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 8vh;
  background-color: $footer-background-color;
}
