@import 'colors';
@import 'font_sizes';

.form-button {
  width: 20%;
  min-width: 150px;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  border: 1px solid $font-color;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  text-decoration: none;
}

.form-button:hover {
  background: $font-color;
  color: white;
  border-color: white;
  transition: background-color 0.4s ease;
}

.save-button  {
  text-align: center;
  padding: 30px 15px;
}

.delete-button {
  text-align: center;
  color: white;
  border-radius: 5px;
  background: red;
}

.delete-button:hover {
  background: red;
}

.show-edit-button {
  position: absolute;
  right: -200px;
  bottom: -70px;
}
