@import 'colors';
@import 'font_sizes';

.logout-button {
  display: flex;
  background: inherit;
  padding: 20px;
  height: 54px;
  border-left: 1px solid $border-color;
  text-transform: uppercase;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.logout-button:hover {
  background: #f5f5f5;
  transition: background-color 0.4s ease;
}

.form-button {
  width: 140px;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  border: 1px solid $font-color;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}

.form-button:hover {
  background: $font-color;
  color: white;
  border-color: white;
  transition: background-color 0.4s ease;
}

.save-button  {
  padding: 30px 15px;
}

.delete-button {
  padding: 30px 15px;
  background: red;
}
