@import 'colors';
@import 'font_sizes';

.form-button {
  width: 20%;
  min-width: 150px;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  border: 1px solid $font-color;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  text-decoration: none;
  text-align: center;
  transition: all 0.4s ease;
}

.form-button:hover {
  background: $font-color;
  color: white;
  border-color: white;
}

.save-button  {
  text-align: center;
  padding: 30px 15px !important;
  order: -1;
  width: 20%;
}

.delete-button {
  text-align: center;
  color: white;
  background: red;
  order: 2;
}

.delete-button:hover {
  background: red;
}

.show-edit-button {
  position: absolute;
  right: 10%;
  bottom: -22%;
}

.submit-disabled {
  background-color: #99a5b2 !important;
  color: black !important;
  font-weight: normal !important;
  opacity: 0.5 !important;
  border: 1px solid $font-color !important;
  pointer-events: none;
}

.disabled-button {
  opacity: 0.5;
  pointer-events: none;
}
