
@import 'colors';

.splash-header {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 3px;
  background-image: url("http://res.cloudinary.com/dbwkodu79/image/upload/v1472601143/concert1_xwkvyb.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  max-height: 50vh;
}

.splash-image {
  height: auto;
  width: 100%;
}

.splash-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 15%;
  text-align: center;
  align-items: center;
}

.splash-text h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: bold;
}

.splash-text h1, .splash-text h4 {
  color: white;
  display: block;
  padding: 5px;
}

.splash-create-event {
  display: flex;
  background: #0077ea;
  height: 48px;
  width: 210px;
  margin: 10px auto;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  color: white;
  letter-spacing: 1.2px;
}

.featured-cities-container {
  width: 90%;
  display: flex;
  margin: 20px auto;
  border: 1px solid $border-color;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.featured-cities-container li {
  padding: 10px 5px;
  text-align: center;
  width: 25%;
  box-sizing: border-box;
}

.featured-cities-container li:not(:last-of-type) {
  border-right: 1px solid $border-color;
}

.splash-events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
}

.splash-item-container {
  width: 30%;
  margin-bottom: 20px;
  background-color: white;
  cursor: pointer;
}

.splash-item-image {
  position: relative;
  width: 100%;
  height: 17vh;
  max-height: 225px;
  background-position: center;
  background-size: cover;
  border: 1px solid $border-color;
}

.splash-item-price {
  position: absolute;
  top: 10%;
  right: 5%;
  min-width: 45px;
  padding: 3px 5px;
  text-align: center;
  background-color: rgba(248, 248, 255,0.90);
  letter-spacing: 1px;
}

.splash-item-details {
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  height: 70px;
}

.splash-item-category {
  display: flex;
  padding-left: 5px !important;
  font-size: 0.75em;
  padding-top: 10px !important;
}

.splash-item-footer {
  display: flex;
  flex-direction: row;
  border-right: 1px solid $border-color;
  border-top: 1px solid $border-color;
}

.splash-item-title {
  font-weight: bold;
  height: 40px;
  padding: 5px;
  padding-top: 8px;
  overflow: hidden;
}

.splash-item-time {
  font-size: 0.8em;
  padding: 2px 5px;
}

.splash-item-location {
  font-size: 0.75em;
  padding: 2px 5px;
}

.happening-soon {
  font-size: 1.7em;
  display: block;
  color: $font-accent;
  margin: 30px;
  margin-left: 5%;
  font-variant: small-caps;
}

.splash-browse {

}
