// Place all the styles related to the Api/Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";
@import "font_sizes";

.ticket-form-container {
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  position: fixed;
  display: flex;
  width: 350px;
  right: -290px;
  top: 195px;
  transition: all 0.8s ease;
  z-index: 2;
  height: 70vh;
}

.ticket-active {
  right: -20px;
}

.ticket-nav {
  width: 45px;
  border: 1px solid $border-color;
  background-color: $live-green;
  box-sizing:border-box;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease;
}

.ticket-nav:hover {
  background-color: $green-hover;
}

.ticket-nav-box {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 45px;
  display: flex;
  align-items: center;
  color: white;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  padding-left: 5px;
  padding-right: 5px;
}

.ticket-nav-text {
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  width: 200px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 50%;
  left: 12%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bolder;
  color: white;
}

.main-ticket-form {
  flex-grow: 1;
  padding: 10px;
  padding-left: 30px;
  border: 1px solid $form-border-color;
  background: $form-background-color;
  text-align: right;
}
.main-ticket-form label {
  display: flex;
  justify-content: space-between;
}

.ticket-form-container h2 {
  margin-bottom: 15px;
  color: $font-accent;
  text-align: left;
  padding: 10px;
}

.ticket-form-container h4 {
  vertical-align: center;
  align-items: center;
  display: flex;
  padding: 5px;
  margin-bottom: 10px;
  text-align: right;
}

.ticket-form-container form {
  text-align: right;
  padding-right: 30px;
}

.price-container, .total-price {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $form-border-color;
}

.total-price {
  padding: 15px 0 15px 0;
}

.order-now {
  display: block;
  background-color: $live-green;
  color: white;
  font-weight: bold;
  width: 100% !important;
  padding: 20px 0;
  transform: all 0.2s ease;
}

.order-now:hover {
  background-color: $green-hover;
}

.group-order-form {
  width: 100%;
  padding: 5px;
  border: 1px solid $form-border-color;
  border-radius: 5px;
}

.form-issue {
  color: red;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-weight: bold;
  padding-bottom: 20px;
}

i.fa.fa-play {
  flex-grow: 1;
  display: inline-block;
  padding: 10px;
}

.form-success {
  color: $live-green;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-weight: bold;
  text-align: center;
}
