// Place all the styles related to the Api/Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";
@import "font_sizes";

.ticket-form-container {
  padding: 10px;
  padding-bottom: 20px;
  position: fixed;
  display: flex;
  right: -485px;
  top: 195px;
  transition: all 0.8s ease;
  z-index: 2;
}

.ticket-active {
  right: -155px;
}

.ticket-nav {
  width: 40px;
  border: 1px solid $border-color;
  background-color: gray;
}

.ticket-nav-box {
  border-bottom: 1px solid $border-color;
  height: 40px;
}

.main-ticket-form {
  padding: 10px;
  border: 1px solid $form-border-color;
  background: $form-background-color;
}

.ticket-form-container h2 {
  margin-bottom: 10px;
}

.ticket-form-container h4 {
  margin-bottom: 5px;
}

.order-now {
  background-color: $blue-button;
}

.group-order-form {
  width: 100%;
  padding: 5px;
  border: 1px solid $form-border-color;
  border-radius: 5px;
}
